footer {
  min-height: 10vh;
  width: 100%;
  margin-top: 0px;
  background-color: #ffd8be;

  .container-redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      width: 40px;
      height: 30px;
      margin: 20px;
    }
  }

  .container-redes-sociales .facebook:hover,
  .container-redes-sociales .whatsapp:hover,
  .container-redes-sociales .instagram:hover {
    transform: scale(1.3);
  }
}

