
#main-servicios h1{
    text-align: center;
    padding: 30px;
}


.semipermanente {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;;
}

.container-semipermanente {
  height: auto;
  width: 70%;
}

.container-semipermanente h2{
    font-size: 40px;
    text-align: center;
    margin: 40px;
}

.container-semipermanente p{
    text-align: justify;
    font-size: 20px;
    padding: 30px;
}

.container-semipermanente-img {
    height: auto;
    width: 30%;
  }

.container-semipermanete-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.capping {
  display: flex;
  flex-direction: row-reverse;
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

.container-capping {
  height: auto;
  width: 70%;
}

.container-capping h2{
    font-size: 40px;
    text-align: center;
    margin: 40px;
}

.container-capping p{
    text-align: justify;
    font-size: 20px;
    padding: 30px;
}

.container-capping-img {
  height: auto;
  width: 30%;
  margin-left: 75px;
}

.container-capping-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}