#main-contacto{
  background-color: #ffeedd;
  margin-top: 100px;
}

.container-contacto {
  display: flex;
  padding: 120px;
}

.container-formulario {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}

.container-formulario h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.container-formulario input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
}

.container-formulario textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color: #bde0fe;
  padding: 10px;
}

#boton:hover {
  cursor: pointer;
}

.container-mapa {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}

.container-mapa h2 {
  text-align: center;
}

.container-mapa iframe {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
}