@media (max-width: 480px) {
    .container-contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    .formulario-contacto {
      width: 300px;
    }
    .mapa {
      width: 300px;
    }
    .mapa iframe {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container-contacto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 100px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .gallery-container {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 400px;
      padding: 25px;
      grid-gap: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gallery-container {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 600px;
      padding: 25px;
      grid-gap: 10px;
    }
  }

  @media (max-width: 767px) {
    .container-quien-soy {
      flex-direction: column;
    }
  
    .container-quien-soy img {
      width: 100%;
      max-width: 300px;
    }
  
    .quien-soy-texto {
      width: 100%;
    }
  
    .container-quien-soy-texto p {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1023px) {
    .container-quien-soy {
      flex-direction: column;
      max-width: 768px; 
    }
  
    .container-quien-soy img {
      max-width: 80%;
    }
  
    .quien-soy-texto {
      width: 100%;
      max-width: 600px;
    }
  
    .container-quien-soy-texto p {
      margin-bottom: 40px;
    }
  }