@media (max-width: 480px) {
  .container-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .container-formulario {
    width: 300px;
  }
  .container-mapa {
    width: 300px;
  }
  .container-mapa iframe {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
  }
}
  
  @media screen and (min-width: 768px) {
    .container-contacto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 100px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .gallery-container {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 400px;
      padding: 15px;
      grid-gap: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gallery-container {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 600px;
      padding: 15px;
      grid-gap: 10px;
    }
  }

  @media (max-width: 768px) {
    #main-quien-soy{
      margin-top: 100px;
    }

    .seccion-quien-soy{
      padding: 120px 0px 0px;
    }

    .container-quien-soy {
      flex-direction: column;
      align-items: center;
      
      img {
        width: 100%;
        max-width: 420px;
        margin-bottom: 40px;
      }
  
      &-texto {
        width: 100%;
        max-width: 550px;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  
  @media screen and (max-width: 1024px) {
    .presentacion {
      padding-bottom: 30px;
    }
  }

  @media only screen and (max-width: 768px) {
    .banner{
      height: 300px;
    }
    
    .banner img {
      object-fit: cover;
      object-position: center;
      height: 300px;
      margin-bottom: 20px;
    }
  
    .presentacion h1 {
      font-size: 30px;
      padding: 20px;
      margin-top: 10px;
    }
  
    .presentacion p {
      font-size: 16px;
      line-height: 25px;
      padding: 2% 10px;
    }
  }

  @media only screen and (max-width: 480px) {
    .banner{
      height: 200px;
    } 

    .banner img {
      height: 200px;
      margin-bottom: 20px;
    }
  
    .presentacion h1 {
      font-size: 24px;
      padding: 10px;
      margin-top: 10px;
    }
  
    .presentacion p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  @media (min-width: 768px) {
    .services-container {
      flex-wrap: wrap;

      .service {
        width: 48%;
        margin-right: 4%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .services-container {
      flex-wrap: wrap;

      .service {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  @media (max-width: 768px) {
    footer .redes-sociales img {
      width: 30px;
      height: 20px;
      margin: 15px;
    }
  }
  