@media (max-width: 480px) {
    .container-contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    .formulario-contacto {
      width: 300px;
    }
    .mapa {
      width: 300px;
    }
    .mapa iframe {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container-contacto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 100px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .gallery-container {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 400px;
      padding: 25px;
      grid-gap: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gallery-container {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 600px;
      padding: 25px;
      grid-gap: 10px;
    }
  }

  @media (max-width: 767px) {
    .container-quien-soy {
      flex-direction: column;
    }
  
    .container-quien-soy img {
      width: 100%;
      max-width: 420px;
      margin-bottom: 20px;
    }
  
    .quien-soy-texto {
      width: 100%;
      text-align: center;
    }
  }
  
  @media (max-width: 1023px) {
    .container-quien-soy img {
      max-width: 80%;
    }
  
    .quien-soy-texto {
      max-width: 550px;
      margin: 0 auto;
    }
  }

    .quien-soy-texto h1{
      font-size: 30px;
    }

    .quien-soy-texto p{
      font-size: 12px;
    }


  @media screen and (max-width: 1024px) {
    .presentacion {
      padding-bottom: 30px;
    }
  }

  @media only screen and (max-width: 768px) {
    .banner{
      height: 300px;
    }
    
    .banner img {
      object-fit: cover;
      object-position: center;
      height: 300px;
      margin-bottom: 20px;
    }
  
    .presentacion h1 {
      font-size: 30px;
      padding: 20px;
      margin-top: 10px;
    }
  
    .presentacion p {
      font-size: 16px;
      line-height: 25px;
      padding: 2% 10px;
    }
  }

  @media only screen and (max-width: 480px) {
    .banner{
      height: 200px;
    } 

    .banner img {
      height: 200px;
      margin-bottom: 20px;
    }
  
    .presentacion h1 {
      font-size: 24px;
      padding: 10px;
      margin-top: 10px;
    }
  
    .presentacion p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  

  @media (max-width: 768px) {
    .services-container {
      flex-direction: column;
    }
  
    .service {
      width: 100%;
    }
  }
  